<mat-drawer-container class="side-nav-container">
  <mat-drawer mode="side" opened class="side-nav-menu">
    <div class="row center-page mt-10">
        <img src="assets/images/great-seal-logo.png" alt="WeedJoose Logo" width="150">
    </div>
    <div class="text-center mt-5">
        Supreme Court of Nevada<br>
        Administrator
    </div>
    <div class="column"> 
        <button 
        class="side-nav-button mt-10"
        mat-button 
        (click)="navigate('recordings')">
            Recordings
        </button>
        <button 
        class="side-nav-button mt-10"
        mat-button 
        (click)="navigate('coa-recordings')">
            COA Recordings
        </button>
        <button 
        class="side-nav-button mt-10"
        mat-button 
        (click)="navigate('public-hearings')">
            Public Hearings
        </button>
        <button 
        class="side-nav-button mt-10"
        mat-button 
        (click)="navigate('synopses')">
            Synopses
        </button>
        <button 
        class="side-nav-button mt-10"
        mat-button 
        (click)="navigate('coa-synopses')">
            COA Synopses
        </button>
        <button 
        class="side-nav-button mt-10"
        mat-button
        (click)="navigate('files')">
            Files
        </button>
        <button 
        class="side-nav-button mt-10"
        mat-button
        (click)="navigate('users')">
            Users
        </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="blue-background row space-between side-nav-content">
        <span>
            Website Content Management
        </span>
        <span>
        <button 
        mat-button
        (click)="logout()">
            Logout
        </button>
        </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

